*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    
}
.head-navigation{
     max-width: 100vw;
     max-height: 20vh;
     height: 90%;
     width: 100%;
     border: 1px solid black;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.menu ul{
      display: flex;
      justify-content: space-around;
      border: 1px solid black;
      width: 60vw;
      text-align: center;
      align-items: center;
}