 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600&display=swap'); 


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
 font-family: 'Poppins', sans-serif;
    
}
.header-navigation{
     max-width: 100vw;
     max-height: 25vh;
     height: 90%;
     width: 100%;
     
}

.menu-items{
    display: flex;
    justify-content: space-around;
}
.menu-items ul{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 100vw;
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
}
.login li{
    background-color: rgb(43, 183, 226);
    padding: 10px;
    border-radius:1rem;
    font-size: 22px;
}
.login-div{
    background-color: cadetblue;
}